body 
{
	background: #f4f4f4;
}
.login 
{
	font-family: "ubuntu";
	margin-left: 40%;
	background: khaki;
	width: 300px;
	padding: 10px;
	padding-left: 10px;
	border: 1px solid green;
	border-radius: 8px;
	box-shadow: 10px 10px 5px #888888;
}

.login h4
{
	
	font-size: 18px;
}

.login input
{
	padding: 5px;
	border-radius: 5px;
	background: #f4f4f4;
}


.header
{
	margin:10px;
}

.header h4
{
	font-family: "Open Sans";
	font-size: 20px;
}

.details
{
	width: 100%;
	padding:10px;
	font-family: "Calibri";
 	float: left;
 	margin-bottom: 20px;
 	height: auto;
 	max-height: 200px;
 	text-align: center;
    border-collapse: collapse;
}

.details thead {
	font-size: 20px;
	font-weight: bold;
    background-color: #4CAF50;
    color: white;
}


.details table, .details th, .details td {
    border: 1px solid black;
}

.diff {
	background-color:purple;
	color:white;
}

.siff{

}

.details p
{
	font-family: inherit;
		
}

.details form 
{
	margin:0px;
}

.details button
{
	border-radius:4px;
	padding: 10px;
	background: #1414f3;
	color:white;
}


.logout 
{
	float:right;
	font-size : 18px;
	color:red;
	font-family: "ubuntu";
	text-decoration: none;
}