.right {
	float: right;
}

body {
	background: #f3f3f3;
}

.blog{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding:10px;
	background: #fefefe;
	font-family: "ubuntu";
	box-shadow: 4px 4px 3px 2px rgba(0,0,0,0.75);
}
.blog img {
	margin:auto;
}